@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <div class="jumbotron">
        <form method="post">
            <label asp-for="NewAlbumName"></label>
            <input type="text" asp-for="NewAlbumName" />
            <button type="submit">Submit</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Created At</td>
                <td>Count</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Albums)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@(item.Name)</td>
                    <td>@(item.CreatedAt)</td>
                    <td>@(item.Pictures?.Count ?? 0) </td>
                </tr>
            }
        </tbody>
    </table>

</div>
